.Gallery {
	position: absolute;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.gridLayout{
	position: absolute;
	display: flex;
	flex-flow: row wrap;
	background: white;
	width: 90%;
	margin: 84px 0 64px 5%;
}

.imageBox {
	width: 240px;
	height: 240px;
	background: #ddd;
	border: 4px solid #aaa;
}
.imageBox.dropOver {
	border: 4px dashed #666;
}
.imageBox > input {
	display: none;
}
.imageBox label {
	position: absolute;
	width: 240px;
	height: 240px;
	pointer-events: auto;
	z-index: 0;
}
.imageBox img {
	width: 240px;
	height: 240px;
	pointer-events: none;
}
.imageBox:hover, .imageBox label:hover {
	cursor: pointer;
}
